<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='./static/user.css') }}" rel="stylesheet">
</head>
<body>
    <div class = "container">
        <h1>Hello,{{user}}</h1>
        <div class="content">
                <form method="post" id="form" action="/users/{{user}}">
                    <div class="user-details">
                                <div class="input-box">
                            <span class="details">Age</span>
                            <input type="age" name="age" value = "777" placeholder="Enter your Age">
                        </div>
                        <div class="input-box">
                            <span class="details">Gender</span>
                            <select id="gender" name="gender" >
                                <option value="Male">Male</option>
                                <option value="Femail">Femail</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <span class="details">Name</span>
                            <input type="name" name="name" value = 'Мухаммед' placeholder="Enter your Name" >
                        </div>
                        <div class="input-box">
                            <span class="details">Location</span>
                            <input type="location" name="location" value = 'xdland' placeholder="Enter your location" >
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <input type="submit" value="Register">
                        </div>
                    </div>
                </form>
        </div>
    </div>
</body>
</html>