<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', path='./static/forgot_password.css') }}" rel="stylesheet">   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        <div class="title">Forgot password form</div>
        <hr>
        <div class="content">
          <form method="post" id="form" action="/forgot_password">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">New password</span>
                    <input type="new_password" name="new_password" placeholder="Enter your new password" required>
                </div>
                <div class="button-container">
                    <div class="button">
                        <input type="submit" value="submit">
                </div>
            </div>
         </form>
         <div class="input-box">
            <a href = "/forgot_username">Forgot usrname?</a>
        </div>
        </div>
    </div>
</body>
</html>